.header__logo{
    height: 30.32px;
    margin: auto 0;
    padding-right: 60.96px;
}

@media screen and (max-width: 768px){
    .header__logo{
        padding-left: 20px;
        padding-right: 49.96px;
    }
}

@media screen and (max-width: 375px){
    .header__logo{
        height: 30px;
    }
}