.header__content{
    display: flex;
    min-width: 1168px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1168px) {
    .header__content{
        min-width: 768px;
    }
}